page {
    
   
    width: 21cm;
    height: 29.3cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    background-size:cover;
  }

@media print {
    html, body {
        height: 99%;    
    }
    body {-webkit-print-color-adjust: exact;}
@page{
  margin: 0px;
  padding: 0px;
}
@page :footer {
        display: none
    }
  
  @page :header {
        display: none
    }

}